<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{{asset 'css/screen.css'}}" />

    <script src="{{asset 'js/components/jquery/dist/jquery.min.js'}}"></script>
    <script src="{{asset 'js/components/velocity/velocity.min.js'}}"></script>

    <script src="{{asset 'js/components/blurjs/dist/jquery.blur.js'}}"></script>
    <script src="{{asset 'js/components/blurjs/dist/jquery.stack-box-blur.js'}}"></script>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{! ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <!--
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    -->
    
    <script src="{{asset 'js/bootstrap.min.js'}}"></script>
    <script src="{{asset 'js/ripples.min.js'}}"></script>
    <script src="{{asset 'js/material.min.js'}}"></script>
    
    <script>
        $(document).ready(function() {
            $.material.init();
        });
    </script>
</body>
</html>
