{{! Previous/next page links - only displayed on page 2+ }}
<!--<div class="extra-pagination inner">
    {{pagination}}
</div>-->

{{! This is the post loop - each post will be output using this markup }}
<ul class="article-list">
    {{#foreach posts}}
    <li class="article-list-item">
        <div class="card paper-shadow-1" {{#if image}} style="background-image: url({{image}}){{else}}no-cover{{/if}}"> 
            <div class="fade-to-white">
                <article class="{{post_class}}">
                    <header class="post-header">
                        <h2 class="post-title"><a href="{{url}}" class="post-title">{{{title}}}</a></h2>
                    </header>
                    <section class="post-excerpt">
                        <a href="{{url}}" class="post-excerpt-link"><p>{{excerpt words="50"}}</p></a> <!--<a class="read-more" href="{{url}}">&raquo;</a>-->
                    </section>
                    <footer class="post-meta">
                        <!-- {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
                        {{author}} -->
                        {{tags prefix="In "}}
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </footer>
                </article>
            </div>
        </div>
    </li>
    {{/foreach}}
</ul>
<!--

{{! Previous/next page links - displayed on every page }}
{{pagination}}
-->
